---
interface Props {
  name: string
  url: string
  isBig?: boolean
}
const { name, url, isBig = false } = Astro.props

const id = url.split( '/' ).at( -2 )
const imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${ id }.png`
---

<article
  class:list={[
    `flex flex-col gap-2 rounded-lg shadow-md p-4 w-[300px]`,
    {
      'border bg-white text-gray-800': !isBig,
      'w-[600px] text-white': isBig,
    },
  ]}
>
  <!-- href={ `/pokemon/${ id }` } -->
  <a
    href={ `/pokemons/${ name }` }
  >
    <section>
      <h2
        class:list={[
          "font-bold capitalize",
          {
            'text-2xl': !isBig,
            'text-3xl': isBig,
          },
        ] }
      >#{ id } - { name }</h2>
      <img
        transition:name={ `${ name }-image` }
        src={ imageUrl }
        alt={ name }
        class:list={[
          'object-contain w-full',
          {
            'h-48': !isBig,
            'h-96': isBig,
          }
        ]}
      />
    </section>
  </a>
</article>
