---
import MainLayout from '../../layouts/MainLayout.astro'
import PokemonCard from '../../components/pokemons/PokemonCard.astro'
import AudioPlayer from '../../components/media/AudioPlayer.astro'

import type { GetStaticPaths } from "astro";
import type { IPokemonListResponse } from "../../interfaces/pokemon-list.interface";


export const getStaticPaths = ( async () => {

  const response = await fetch( `https://pokeapi.co/api/v2/pokemon?limit=151` )
  const { results } = await response.json() as IPokemonListResponse

  const paths = results.map( ({ name, url }) => ({
    params: { name },
    props: { name, url }
  }) )

  return paths
}) satisfies GetStaticPaths;

const { name } = Astro.params
const { url }  = Astro.props

const id = url.split( '/' ).at( -2 )
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${ id }.ogg`
---

<MainLayout title={ name }>
  <nav class="py-4">
    <a href="/"> Return </a>
  </nav>
  <div class="px-4 py-8 flex flex-col gap-12 w-full items-center justify-center">
    <h1 class="text-4xl font-bold"> { name } </h1>
    <PokemonCard name={ name } url={ url } isBig/>

    <AudioPlayer src={ audioSrc } />
  </div>
</MainLayout>

<style>
a {
  @apply text-blue-500 hover:underline text-lg font-bold;
}
</style>
