---
import Navbar from '@components/shared/Navbar.astro'
import { siteInfo } from '@consts/site-info'
// import { ViewTransitions } from 'astro:transitions'

interface Props {
  title?:       string
  image?:       string
  description?: string
  author?:      string
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  author = siteInfo.author,
  image
} = Astro.props

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <meta name="description" content={ description } />
    <meta name="author" content={ author } />

    <!-- Open Graph / Meta tags -->
    <meta property="og:title" content={ title } />
    <meta property="og:description" content={ description } />
    <meta property="og:image" content={ image } />

    <title> { title } </title>
    <!-- <ViewTransitions /> -->
    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
	</head>
	<body>
    <Navbar />
    <main class="w-full min-h-screen bg-gray-800 p-4 flex flex-col gap-6 text-white items-center">
      <slot />
    </main>
	</body>
</html>
